/*Объявляем переменные*/

:root{
	--text-contrast: #131516;
	--text-lighter: #555F61;
	--text-muted: #707C80;
	--light-bg-color: #F3F3F2;
	--light-gray-bg: #ececec;
	--secondary-bg-color: #2A2A2A;
	--dark-bg-color: #242424;
	--bright-yellow: #FBEA0A;
	--yellow-bg-color: #d5bd17;
	--yellow-bg-hover: #C5B12A;
	--orange-bg-color: #F26402;
	--small-card-shadow: 0 0 8px 0px rgba(0,0,0, 0.4);
	--tiny-card-shadow: 0 0 4px 0px rgba(0,0,0, 0.3);
	--med-card-shadow: 0 0 12px 0px rgba(0,0,0, 0.4);
	--overlay-background: rgba(0,0,0, 0.7);
	--light-gray: #e1e8ed;
	--border-gray: #cccccc;
	--menu-text-light: #F3F3F2;
	--menu-item-border-dark: #222222;
	--nav-link-hover-bg: #131313;
	--nav-link-active-bg: #040101;
	--search-form-bg: #2A2A2A;
	--search-form-border-color: #2A2A2A;
	--search-form-text-color: #F3F3F2;
}


* {
	box-sizing: border-box;
}


body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin:0;
  font-size: 16px;
 /* background-color: var(--light-gray-bg);*/
}



h2 {
	margin-top: 0;
}

.main {
	width: 100%;
	min-height: 50vh;
	/*background-color: var(--light-gray-bg);*/
}

.heading-main {
	padding: 30px 0 0 35px;
}

.row {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	
}

.font-lg {
	font-size: 1.5rem;
}

.font-bg {
	font-size: 1.25rem;
}

.font-md {
	font-size: .75rem;
}

.font-sm {
	font-size: .5rem;
}

.text-shad {
	text-shadow: 1px 1px 0 #000;
}

.row-no-justify {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}

.row-nowrap {
	display:flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.col-1 {
	flex-basis: 60%;
	order: -1;
	min-height: 450px;
}

.col-2 {
	flex-basis: 240px;
}

.big-info-container {
	flex-basis: 300px;
	margin-right: 20px;
}

.small-info-container {
	flex-basis: 300px;

}

/***TO DEL***/
.search-movie-form {
	border:1px solid #979797;
	max-width: 980px;
	border-radius: 2px;
}

.search-movie-form input[type="text"]{
	width:415px;
	line-height:40px;
	border: none;
	font-size: 24px;

}

.search-movie-form input[type="text"]:focus {
	outline-color: var(--yellow-bg-color);

}


.search-movie-form button{
	width:50px;
	height:42px;
	background-color: var(--yellow-bg-color);
	border:none;		
}
.search-movie-form button:hover{
	background-color: var(--yellow-bg-hover);
	cursor: pointer;	
}
.search-movie-form button:focus{
	outline-color: var(--yellow-bg-hover);	
}

.form-container {
	display: flex;
	justify-content: center;
	padding:15px;
	background-color: var(--secondary-bg-color);

}

/****Sidebar****/

.sidebar {
	/*
	margin-top: 80px;
	*/
	position: relative;
	height: 530px;
	border-radius:2px;
	box-shadow: var(--med-card-shadow);
}

.sidebar-item {
	flex-basis: 110px;
	height: 165px;
	margin:4px;
	overflow: hidden;
	box-shadow: var(--small-card-shadow);
}
.sidebar-item img {
	width: 100px;
	height: 155px;
	margin: 5px 0 0 5px;	
}

.row-sidebar-inner {	
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 2px;	
}

.sidebar-heading {
	text-align: center;
}

.header {
	width:100%;
	height: 367px;
	/*for fixed navbar*/
	margin-top: 65px;
	background-image: url('../images/cinema2.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*****NAVBAR*****/


.navbar {
	display: flex;
	position: fixed;
	top: 0;
	z-index: 9999;
	align-items: center;
	/*justify-content: space-between;*/
	height: 65px;
	width: 100%;
	background-color: var(--secondary-bg-color);
	
}

.navbar-inner-wrap {
	display: flex;
	flex-basis: 100%;
	justify-content: space-between;
	flex-wrap: nowrap;
}


.navbar-expand {
	position: absolute;
	top: 65px;
	height: auto;
	max-height: 150px;
	width: 100%;
	display: block;
	background-color: var(--secondary-bg-color);
	overflow: hidden;
	transition: max-height .5s ease-in;	
}


.navbar-expand.close {
	max-height: 0px;
}

@keyframes navbar-anim {
	0%{height: 0px}
	100% {height: 80px;}
}

/*.navbar-expand a {
	display: block;
	text-decoration: none;
	color: #fff;
	line-height: 22px;
	padding: .5rem;
	text-align: center;

}*/

/*.navbar-expand a:hover {
	color:#8F8F8F;
	
}

.navbar-expand .active {
	background-color: var(--nav-link-hover-bg);
}*/

.navigation {
	display: flex;
}

.navigation a {
	position: relative;
	display: inline-block;
	line-height: 65px;
	padding: 0 15px;
	text-decoration: none;
	color: #fff;
	/*overflow: hidden;*/
}


.navigation a:hover {
	background-color: var(--nav-link-hover-bg);
}

.navigation .active {
	background-color: var(--nav-link-active-bg);
	/*border-bottom: 2px solid #D7BE18;*/

}

/*уголок внизу активного эл. меню. Можно удалить позже*/
.navigation .active::after {
	content: '';
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 16px;
	height: 16px;
	transform-origin: left top;
	transform: rotate(45deg);
	background-color: var(--nav-link-active-bg);
}

.navbar-logo{
	display: inline-block;
	margin-right: 20px;
}

.navbar-logo a {
	display: inline-block;
	background-image: url('../images/imdb-logo.png');
	background-size: cover;
	width: 70px;
	height: 65px;	
}


/*****DRAWER*****/

.drawer {
	position: fixed;
	top: 0;
	left: -200px;
	width: 200px;
	height: 100%;
	background-color: var(--secondary-bg-color);
	transition: transform .7s ease;
	
}

.drawer.close {
	transform: translateX(200px);
}

.drawer-header {
	position: relative;
	width: 100%;
	height: 100px;
	background-color: #fff;
}

.drawer-header h2 {
	margin-top: 0;
	padding-top: 10px;
	/*text-align: center;*/
}

.drawer .inner-wrap {
	/*margin: 35px 0 0 0;*/
}

.drawer a {
	display: block;
	text-decoration: none;
	color: var(--menu-text-light);
	font-size: 20px;
	line-height: 1.5em;
	padding: .75em 1em;
	border-bottom: 1px solid var(--menu-item-border-dark)
}

.drawer a:hover {
	background-color: var(--nav-link-hover-bg);
}

.drawer .active {
	background-color: var(--nav-link-active-bg);
}

.drawer-close-btn {
	display: block;
	position: absolute;
	width: 20px;
	line-height: 28px;
	font-size: 38px;
	top: 10px;
	right: 15px;

}

.drawer-close-btn:hover {
	cursor: pointer;
	color: grey;
}

.drawer-toggler-btn {
	display: block;
	position: absolute;
	top: 12.5px;
	left: 50px;
	width: 40px;
	display: none;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	transition: all .3s ease;
}

.navbar-toggler-search-btn {
	position: absolute;
	right: 50px; 
	top: 12.5px;
	line-height: 40px;
	width:40px;
	display: none;
	text-align: center;
	border-radius: 50%;
	transition: all .3s ease;
}

.drawer-toggler-btn:hover, .navbar-toggler-search-btn:hover {
	background-color: #2F2F2F;
}


/*****LANG SELECTOR*****/
.lang-selector {
	position: absolute;
	right:5px;
	top:5px;
	width: auto;
	color: #fff;
}

.lang-selector img {
	height: 12px;
}

.drop-toggle {
	position: absolute;
	width: auto;
	height: auto;
	display:none;
	background-color: var(--secondary-bg-color);
}

.lang-selector:hover {
	cursor: pointer;
}

.lang-item {
	display:block;
}

.drop-toggle.open {
	display: block;
}

/*****FOOTER*****/
.footer {
	
	line-height:60px;
	height: 60px;
	margin-top: 60px;
	color: #fff;
	background-color: var(--secondary-bg-color);
}

.footer p {
	text-align: center;
}

.plot {

}

.mov-heading {
	order:-1;
}

.year {
	margin: 10px 0 0 35px;
}

/*Small info classes*/
.small-info-item{
	margin-bottom: 20px;
}
.imdb-rating {

}


/*****Horiz Movies*****/

.horiz-mov-container {
	display: flex;
}

.horiz-mov-item {
	flex-basis: 110px;
	height: 185px;
}

.horiz-mov-item img {
	max-width: 100%;
}

/***Ебучая карусель ***/
.inner-slider-movie {
	
	
	margin-top: 20px;
}

.horiz-mov-item-carousel {
	display: flex !important;
	justify-content: center;	
	
}



.horiz-mov-item-carousel-inner {
	display: flex;
	justify-content: center;
	width: 100px;
	height: 146px;
	/*border: 1px solid var(--border-gray);*/
	/*box-shadow: var(--small-card-shadow);*/
}

.horiz-mov-item-carousel-inner img {
	width: 92px;
	height: 138px;
	margin-top: 4px;
	box-shadow: var(--small-card-shadow);
	
}

.horiz-mov-heading{
	text-align: center;
}

/*****Movies Page*****/
.movies-container {
	min-height: 100vh;
}

.movies-container > h1 {
	text-align: center;
}


.movies-view-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.single-movie-card {
	display: flex;
	margin: 4px;
	flex-basis: 484px;
	min-width: 367px;
	height: 290px;
	box-shadow: var(--small-card-shadow);
}

.single-movie-card-poster {
	margin: 6px 0 0 5px;
	flex-basis: 185px;
}

.single-movie-card-poster img {
	max-width: 100%;
	flex-basis: 185px;
	height: auto;
}

.single-movie-card-info {
	position: relative;
	flex-basis: 290px;
	padding: 0 10px;
}

.single-movie-card-info h2 {
	margin-top: 5px;
	font-size: 1.3em;
	
}

.single-movie-card-plot {
	margin-top: 12px;
}

.single-movie-card-rating {
	margin-top: 15px;
}

.single-movie-card-read-more {
	position: absolute;
	bottom:25px;
}

.single-movie-card-read-more a {
	text-decoration: none;
	color: var(--secondary-text-color, black);
	padding: .5rem .75rem;
	border: 1px solid var(--secondary-bg-color);
	border-radius: 1px;
}

.single-movie-card-read-more a:hover {
	background-color: var(--secondary-bg-color);
	color: #fff;
}


/*****FILTER*****/
.movie-filter-container {
	height: auto;
	/*background-color: #2A2A2A;*/
}

.movie-filter-inner-container {
	display: flex;
	justify-content: center;
	height: auto;
}

.movie-filter-item {
	flex-basis: 250px;
}



/*****PAGINATION*****/

.pagination {
	display: flex;
	list-style-type: none;
	padding-left: 0;
}

.pagination li {
	flex-basis: 30px;
}

/*default a inside li*/
.page-link {
	display: block;
	padding: .5rem .75rem;
	text-decoration: none;
	background-color: #fff;
	color: #323232;
	border: 1px solid #B9B9B9;
}

.page-link:hover {
	background-color: #D2D2D2;
}



/*Default class of the <li> tag*/
.page-item {
	margin:0 1px;
}



/*active <a> tag*/
.active-link {
	background-color: #606060;
	pointer-events: none;
  	cursor: default;
}


.page-link-prev, .page-link-next {
	
}

.pagination-wrapper {
	display: flex;
	justify-content: center;
}




/*****MOVIE PAGE*****/
.movie-page-container {
	/*display: flex;
	flex-wrap: wrap;*/

}

.movie-page-main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/*align-items: flex-start;*/
	margin-top: 25px;	
}

.movie-page-col-1 {
	display: flex;
	/*justify-content: center;*/
	flex-wrap: wrap;
	align-content: flex-start;
	flex-basis: 60%;
	min-height: 80vh;
}

.movie-page-col-1 h1 {
	flex-basis: 100%;
}

/*****SIMILAR SIDEBAR*****/
.movie-page-col-2 {
	/*border: 1px solid green;*/
	/*padding: 0 20px;*/
	flex-basis: 182px;
	margin-left: 35px;
}

.movie-page-col-2 h1 {
	text-align: center;
}

.similar-wrap {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}



.similar-item {
	width: 162px;
	height: 238px;
	box-shadow: var(--small-card-shadow);
	margin-bottom: 4px;
}

.similar-item img {
	margin: 4px;
}

.movie-page-poster {

	/*flex-basis: 50%;*/
	/*margin-right: 10px;*/
	flex: 1 2 280px;
	
}
.movie-page-poster img {
	max-width: 100%;
	border: 1px solid var(--light-gray);
}
.movie-page-info {
	/*border: 1px solid black;*/
	/*flex-basis: 285px;*/
	flex: 2 1 235px;
	padding: 15px 20px;
	

}

.movie-page-overview {
	/*border: 1px solid red;*/
	padding-right: 20px;
	margin-top: 20px;
	line-height: 1.5em;
}

.movie-page-backdrop {
	width: 100%;
}

.movie-page-backdrop img {
	width: 100%;
}

.movie-page-info-item {
	margin: 15px 0;
}

.spinner {
	display:flex;
	z-index: 2;
	justify-content: center;
	align-items: center;
	position: relative;
	background-color: #fff;
	width: 100%;
	height: 100%;
	flex-basis: 100%;
	

}

.spinner span {
	display: block;
	width: 50px;
	height: 50px;
	background-image: url('../images/spin.gif');
	background-repeat: no-repeat;
	background-size: cover;
	
}

/***Actors***/
.actors-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 138px;
	flex-basis: 100%;
	/*border: 1px solid blue;*/
	margin-top: 20px;
	padding: 10px 0;
}

.actors-container h2 {
	flex-basis: 100%;
	text-align: center;
}

.actor-w92-wrap {
	/*display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;*/
	width: 100px;
	height: 176px;
	margin: 4px;
	font-size: 12px;
	box-shadow: var(--small-card-shadow);
}

.actor-w92-wrap img {
	width: 92px;
	height: 138px;
	margin: 4px 0 0 4px;

}

.actor-w92-name {
	text-align: center;
}

/*****TRAILERS*****/
.trailers-wrap {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	margin-top: 20px;
}

.trailers-wrap h2 {
	flex-basis: 100%;
}

.trailer-video {
	flex-basis: 100%;
}

.search-outside a {
	text-decoration: none;
	padding: .5em .75em;
	color: #fff;
	/*border: 1px solid var(--secondary-bg-color);*/
	background-color: var(--orange-bg-color);
}

.search-outside a:hover {
	background-color: var(--secondary-bg-color);
	color: #fff;
}

/*****ACTORS*****/

.actors-main-wrap {
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

.actors-view-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	margin-top: 35px;
}

.actors-view-container h1 {
	flex-basis: 100%;
}

.actor-img-wrap {
	float: left;
	width: 185px;
	height: 278px;
	margin-right: 25px;
	
	
}

.actor-img-wrap img {
	max-width: 100%;
}

.actor-biography-wrap {
	padding-top: 20px;
	min-width: 360px;
}
.actor-info-wrap {
	width: 100%;
	margin: 10px 0 10px;
}

.actor-bio p {
	line-height: 1.5em;
}

.actor-bio-item {
	margin-bottom: 10px;
}

.filmography-container {
	/*display: flex;
	flex-wrap: wrap;
	justify-content: center;*/
	
}

.filmography-container h2 {
	flex-basis: 100%;
}

.filmography-item {
	position: relative;
	flex-basis: 185px;
	height: 278px;
	margin: 2px;
	overflow: hidden;
}

.filmography-item img {
	width: 185px;
	height: 278px;
}

.filmography-item .rating {
	position: absolute;
	display: inline-block;
	background-color: var(--overlay-background);
	color: #fff;
	top: 5px;
	right: 5px;
	padding: 1px 3px;
	font-size: 12px;
	border-radius: 4px;
	min-width: 1.8em;
	text-align: center;
	
}

.overlay {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	bottom: -60px;
	width: 100%;
	height: 60px;
	background-color: var(--overlay-background);
	color: #fff;
	transition:all .5s ease;
	
}

.overlay-title {
	display: block;
	font-size: 14px;
	text-align: center;
}

.filmography-item .release {
	position: absolute;
	left: 5px;
	top: 5px;
	display: block;
	font-size: 12px;
	color: #fff;
	padding: 1px 3px;
	border-radius: 4px;
	background-color: var(--overlay-background);
}

.filmography-item:hover .overlay {
	/*height: 40px;*/
	transform: translateY(-60px);
}


/*****SEARCH*****/
.search-view-col-1 {
	flex-basis: 80%;
}

.search-results-container {

}

.search-item-wrap {	
	flex-basis: 100%;
	height: 146px;
	box-shadow: var(--small-card-shadow);
	margin-bottom: 8px;
}

.search-item-info {
	position: relative;
	width: 100%;
	padding: 0 15px;
	/*min-width: 250px;*/
}

.search-item-info h4 {
	margin: 5px 0 5px;
}

.search-item-img-wrap {
	flex-basis: 92px;
	min-width: 92px;
	height: 138px;
	margin: 4px;
}

.search-item-img-wrap img {
	max-width: 100%;
	height: 138px;
}

.search-item-overview {
	font-size: 16px;
	line-height: 1.2em;
	/*max-height: 40px;*/
}

.search-media-type {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 12px;
	text-align: center;
	display: block;
	padding: 1px 4px;
	min-width: 2.5em;
	background-color: var(--bright-yellow);
	border-radius: 3px;
}

.search-item-rating {
	margin: 5px 0;
	font-size: 12px;
}

.search-item-more {
	margin-top: 6px;
	width: 120px;
}

.search-item-more a {
	text-decoration: none;
	display: inline-block;
	padding: 0.3em;
	border: 1px solid var(--secondary-bg-color);
	border-radius: 2px;
	/*background-color: var(--secondary-bg-color);*/
	color: black;
}

.search-item-more a:hover {
	background-color: var(--orange-bg-color);
	color: #fff;
	border: 1px solid var(--orange-bg-color);
}

h1.search {
	margin-top: 35px;
}

/*SEARCH FORM COMMON*/

/*FORM CONTAINER*/ 
.navbar-right-section {
    position: absolute;
    top: 19px;
    right: 35px;
}

.search-form {
	display: flex;
	justify-content: flex-start;
	width: 265px;
	position: relative;
}

.search-form form {
	display: flex;
	background-color: var(--search-form-bg);
	border-radius: 3px;
	border: 1px solid var(--search-form-border-color);
	/*max-width: 280px;*/
}


.search-form input[type="text"]{
	width: 62px;
	line-height: 24px;
	padding: 0 5px;
	border: none;
	/*font-size: 16px;*/
	z-index: 5;
	transition: width 0.5s ease-out;
	background-color: var(--search-form-bg);
	color: var(--search-form-text-color);
}

.search-form input[type="text"]:focus {
	width:265px;
	outline-color: transparent;

}

.search-form button {
	background-color: transparent;
	border: none;
}

.search-form button:focus {
	outline-color: transparent;
}

.fa-search {
	font-size: 18px;
	/*color: var(--search-form-text-color);*/
	color: var(--yellow-bg-color);
	
}

/**DROPDOWN SEARCH**/
.dropdown-search-wrap {
	padding: 10px;
}


/****ReGISTER LOGIN LINKS****/
.login{
	/*display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;*/
	position: absolute;
	top: 24px;
	right: 10px;
	/*margin: 0 15px 0 20px;*/
	/*width: 180px;
	min-width: 93px;*/
}

.login .item {
	display: inline-block;
	/*white-space: nowrap;*/
	width: 80px;	
}

.login a {
	display: inline-block;
	padding: 0 15px 0 0;
	text-decoration: none;
	color: #fff;
}

.login a:hover {
	color:#8F8F8F;
}


/*****HOME PAGE*****/
.home {
	/*display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;*/
}

.home-col-1 {
	/*flex-basis: 90%;*/
	overflow: hidden;
	/*background-color: var(--light-gray-bg);*/
}


.now-playing-wrap {
	justify-content: space-evenly;
	width: 100%;
}

.carousel-wrap {
	height: 230px;
}

.carousel-wrap h2 {
	margin-top: 20px;
	text-align: center;
}

/**NOW PLAYING**/
.now-playing-mov {
	max-height: 430px;
	flex-basis: 500px;
	margin: 35px 0 0 0;
}

.now-playing-card {
	/*border: 1px solid var(--light-gray);*/
}


.now-playing-card .big-img {
	position: relative;
	flex-basis: 100%;
	height: auto;
}

.big-img .title-rel-wrap {
	/*display: flex;
	flex-wrap: wrap;
	
	align-content: flex-end;
	justify-content: start;*/
	padding-top: 50px;
}

.big-img img {
	max-width: 100%;
	display: block;
}



.inside-wrap {
	display: flex;
	flex-wrap: nowrap;
	position: absolute;
	left: 10px;
	bottom: 10px;
	
}

.inside-wrap span {
	display: inline-block;
	color: #fff;
	align-self: flex-end;
	/*padding: 0 0px 0px;*/
	margin: 0 10px 2px;
}

.poster-inside {	
	max-width: 75px;
}

.sm-images-wrap {
	display: flex;
	flex-wrap: nowrap;
	flex-basis: 100%;
	height: auto;
}

.small-img {
	position: relative;
	flex-grow: 1;
	height: auto;
	overflow: hidden;
}

.small-img img {
	display: block;
	width: 100%;
	height: auto;
}

.small-img-title {
	position: absolute;
	left: 5px;
	bottom: 10px;
	font-size: .75em;
	color: #fff;
	min-width: 115px;

}

.translucent-bg {
	display: inline-block;
	color: #fff;
	padding: 1px 3px;
	border-radius: 4px;
	background-color: var(--overlay-background);
}

.next-episode-big {
	/*margin-left: 10px;*/
}



/*****SERIES*****/
.series-page-wrap {
	text-align: center;
}





/*****Media Queries*****/

@media screen and (max-width: 320px) {
	.single-movie-card-info {
    font-size: 14px;
	}

}


@media (min-width: 320px) and (max-width: 480px) {
	/*ACTOR PAGE*/
	.filmography-container h2 {
		text-align: center;
	}


	.filmography-item {
		flex-basis: 154px;
		height: auto;
	}

	.filmography-item img {
		width: 100%;
		height: 231px;	
	}

	.actor-biography-wrap {
		min-width: 310px;
	}

	.actors-view-container {
	    width: 100%;
	    margin-top: 35px;
	}

	.actor-info-wrap {
	    padding: 5px;
	}

	.single-movie-card {
		flex-basis: 468px;
		min-width: 320px;
		margin-left: 4px;
		margin-right: 4px;	
	}

	.single-movie-card-rating {
       margin-top: 2px; 
	}

	/*FILTER*/
	.movie-filter-inner-container {
		display: block;
		width: 98%;
		margin: auto;
	}

	.movie-filter-inner-container h3 {
		margin: 12px 0 2px ;
	}
	
	/*Hide stars*/
	.stars-rating {
		display: none;
	}

	
	/*Main column*/
	.col-1{
		flex-basis: 95%;
	}

	.navbar-right-section {
		display: none;
	}

	
	.drawer-toggler-btn {
		display: inline-block;
	}

	.navbar-toggler-search-btn {
		display: inline-block;
	}
	/*ALIGN LOGO TO CENTER*/
	.navbar {
		flex-wrap: wrap;
	}

	.navbar-logo-wrap {	
		display: flex;
		justify-content: center;
		flex-basis: 100%;
		height: 65px;
	}

	/*SEARCH FORM DROPDOWN*/
	.search-form {	
		justify-content: center;
		width: 100%;
	}

	.search-form form {	
		width: 95%;
	}

	.search-form input[type="text"]{
		width: 100%;
		line-height: 20px;
		padding: 0 5px;
		/*border: none;*/
		font-size: 16px;	
	}

	.search-form input[type="text"]:focus {
		width:100%;
	}

	.search-form button {
		/*put search button in the end of form*/
		/*order: 1;*/
	}

	
	.fa-search {
		font-size: 18px;
	}

	.search-view-col-1 {
	flex-basis: 98%;
	}

	.search-item-overview {
	    font-size: 0.8rem;
	    min-width: 200px; 
	}

	.search-item-wrap {
	    flex-basis: 470px;
	    height: 146px;
	}

	.search-item-info {    
	    padding: 0 5px;
	    min-width: 210px; 
	    flex-basis: 350px; 
	}

	.search-item-info h4 {
	    font-size: 0.9rem;
	}

	.search-item-img-wrap {
	    flex-basis: 92px;
	    min-width: 92px;
	    /*height: 138px;*/
	   /* margin: 4px;*/
	}

	.search-item-img-wrap img {
	    max-width: 100%;
	    /*height: 138px;*/
	}

	h1.search {
    	/*margin-top: 15px;*/
    	margin: 15px;
    	text-align: center;
	}	

	/*MOVIE PAGE ON SM*/
	.movie-page-main {
		margin-top: 10px;	
	}

	.movie-page-col-1 {
		flex-basis :95%;
	}

	.movie-page-col-1 h1 {
		text-align: center;
	}

	.movie-page-col-2 {
		flex-basis :95%;
		margin-left: 0px;
	}

	.movie-page-poster img {
		width: 100%;
	}

	.actors-main-wrap {

	}

	.carousel-wrap h2 {
		text-align: center;
	}


	.single-movie-card {
		height: auto;
	}

	.single-movie-card-info h2 {
	margin-top: 3px;
	margin-bottom: 5px;
	font-size: 1.0em;
	}

	.pagination-wrapper {
		font-size: .75rem;
	}

	.movie-page-overview {
		padding-right: 0;
	}


	/*SIMILAR*/
	.similar-wrap {
		justify-content: space-evenly;
	}

	.similar-item {
	    width: 152px;
	    height: 233px;
	    box-shadow: var(--tiny-card-shadow);
	}

	.similar-item img {
		max-width: 100%;
		height: 100%;
    	margin: 0;
    	padding: 4px;
	}

	.actors-container {
		justify-content: space-evenly;
	}

	.single-movie-card-read-more {
	    bottom: 15px;
	}

	/*HIDE REG LOGIN*/
	.login {
		display: none;
	}
}




@media (min-width: 481px) and (max-width: 767px) {
  
  	.now-playing-wrap {
		
	}

	.single-movie-card {
		flex-basis: 590px;
		margin-left: 4px;
		margin-right: 4px;		
	}

	.single-movie-card-info {
		flex-basis: 360px;
	}

	/*HIDE REG LOGIN*/
	/*.login {
		display: none;
	}*/

	/*BURGER TOGGLER AND COORDS*/
	.drawer-toggler-btn {
    	display: inline-block;
	}

	.drawer-toggler-btn {
	    /*display: block;*/
	    /*position: absolute;*/
	    /*top: 12.5px;*/
	    left: 100px;
	   /* width: 40px;
	    display: none;
	    line-height: 40px;
	    text-align: center;
	    border-radius: 50%;
	    transition: all .3s ease;*/
	}
 
}


@media (min-width: 768px) {
	h1 {
		font-size: 2.5em;	
	}
}


@media (min-width: 768px) and (max-width: 1023px) {
  
  	.single-movie-card {
		flex-basis: 590px;
		height: auto;
		/*margin-left: 1px;
		margin-right: 1px;	*/	
	}

	/*.stars-rating {
		display: none;
	}*/

	.single-movie-card-info {
		flex-basis: 360px;
	}


	.single-movie-card-info h2 {
		margin-top: 3px;
		margin-bottom: 5px;
		font-size: 1.2em;
	}

	/*SEARCH FORM*/
	.navbar-right-section {
    	right: 15px;
	}

	.search-form {
		width: 265px;
	}

	.search-form input[type="text"]:focus {
		width:245px;
	}
  
}


@media (min-width: 1024px) and (max-width: 1280px) {

  	.single-movie-card {
		flex-basis: 492px;	
		margin-left: 3px;
		margin-right: 3px;
		box-shadow: var(--small-card-shadow);	
	}

	/*HOME PAGE*/
	.now-playing-card {
		width: 500px;
		height: 375px;
	}

	/*SEARCH FORM*/
	.navbar-right-section {
    	right: 55px;
	}	
  
}



@media (min-width: 1280px) {

	.home-col-1 {
		flex-basis: 80%;	
		/*background-color: var(--light-gray-bg);*/
	}
}



/*NAVBAR RELATED*/
@media screen and (max-width: 767px){	
	.navigation {
		display: none;
	}
	
	.navbar-expand {
		border-top: 1px solid var(--menu-item-border-dark);
	}

	
}


@media screen and (max-width: 1024px){
	/*Small info*/
	.small-info-container {
		margin-top: 25px;	
		flex-basis: 100%;
	}
}

